.page-header{
    text-align: center;
    margin-top: 20px;
    color: #335C6E;
    font-weight: 600;
}
.title {
    color: #335C6E;

}
.MuiButton-contained.btn-remove {
    margin-top: 10px;
    align-items: center;
    background-color: #5ACCCC;
    border-radius: 32px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    height: 50px;
    justify-content: center;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  
  .MuiButton-contained.btn-remove:hover {
    background-color: #F76434;
  }
  .readingLevel{
    background-color: #FABD33;
    color: #335C6E;
    padding: 5px 20px;
    border-radius: 15px;
    font-family: 'Mulish';
  }